<h1>All Authors</h1>

<h4> Top Contributor: <%= link_to Author.top_contributor.pen_name, author_path(Author.top_contributor)%></h4>
<ul>
  <% @authors.each do |author| %>
    <li><%= link_to author.pen_name, author_path(author) %></li>
  <% end %>
</ul>
