/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self


 */

 h1{ 
     font-family: 'Bitter', serif;
 }

/* Styling Links */
/* .a{
     color: white; 
 }

 .a:hover{
    color: black; 
}

.a:visited{
    color: white; 
}

.a:active{
    color: blue;
} */

.button{
    background-color: black; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center; 
    font-size: 16px;
    opacity: 0.5;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
}

.button:hover{
    opacity: 1.0;
}
.navigation_one { 
    margin: 2px;
    float:left;
    background-color: grey;
    width: 100%;
    color: white; 
}

.navigation_two { 
    margin: 2px;
    padding-bottom: 2px;
    background-color: fuchsia;
    width: 100%;
    color: white;
    text-align: right; 
}

.header{ 
    text-align: center;
}

