<h1>Analytics</h1>

<b>Most Reviewed Submission:</b> <%= @most_reviewed_submission %><br><br>

<b>Most Popular Genre:</b> <%= @most_popular_genre %><br><br>

<b>Top Contributor:</b> <%= @top_contributor %><br><br>
