<h1> Welcome to our application </h1>
<br>
<%= link_to "Authors", '/authors' %> <br><br>

<ul>
<%@submissions.each do |submission|%>
<li>
<%=link_to submission.title, submission_path(submission)%>
</li>
<%end%>
</ul>