<div class="header"><h1>Welcome to ReRev!</h1></div>

Short for rereview, this platform allows authors to review each others' work.
<br>

<h3>Today's Top Submission</h3>
<%= link_to Submission.most_reviewed_title, submission_path(Submission.find_by(title: Submission.most_reviewed_title)) %>

<h2>Submissions</h2>

<ul>
    <%@submissions.each do |submission|%>
        <li>
            <%= link_to submission.title, submission_path(submission) %>, <%= pluralize(submission.review_count, "review") %>
        </li>
    <%end%>
</ul>
