<h1>Welcome to ReRev!</h1>

Short for rereview, this platform allows authors to review each others' work.
<br>
<%= link_to "Authors", '/authors' %> <br><br> <!-- this should go in the navigation bar -->

<h3> Today's Top Article </h3>
<!-- include most reviewed submission -->

<h2>Submissions</h2>

<ul>
<%@submissions.each do |submission|%>
<li>
<%=link_to submission.title, submission_path(submission)%>
</li>
<%end%>
</ul>
